## 주민등록상 거주인구
- 데이터 
    - 주민등록인구_20221223155840.xlsx
    - 서울특별시(구별)_18_19_20주민등록인구.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
resident_population = pd.read_excel("C:\sooeun\DATAexam\전공프로젝트(빅데이터)\data\주민등록인구_20221223155840.xlsx")
resident_population.shape

C:\Users\ppi06\anaconda3\envs\data_venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(27, 20)

In [3]:
display(resident_population.head())
display(resident_population.tail())

,동별(1),동별(2),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,동별(1),동별(2),세대 (세대),계,한국인,등록외국인,세대당인구,65세이상고령자,세대 (세대),계,한국인,등록외국인,세대당인구,65세이상고령자,세대 (세대),계,한국인,등록외국인,세대당인구,65세이상고령자
1,합계,소계,4263868,10049607,9765623,283984,2.29,1416131,4327605,10010983,9729107,281876,2.25,1485272,4417954,9911088,9668465,242623,2.19,1568331
2,NaN,종로구,73735,163026,153065,9961,2.08,26742,73947,161869,151290,10579,2.05,27519,75003,158996,149384,9612,1.99,28507
3,NaN,중구,61502,135633,125725,9908,2.04,22005,62739,136488,126171,10317,2.01,23275,63686,134635,125240,9395,1.97,24495
4,NaN,용산구,108974,245090,228999,16091,2.1,37640,110126,245185,228670,16515,2.08,38791,113093,244645,230040,14605,2.03,40247

,동별(1),동별(2),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
22,NaN,관악구,262222,520040,501957,18083,1.91,72249,268559,517334,500094,17240,1.86,75194,274811,509803,495060,14743,1.8,78875
23,NaN,서초구,172918,438163,433951,4212,2.51,54751,173199,435107,430826,4281,2.49,57136,173502,429025,425126,3899,2.45,60169
24,NaN,강남구,228775,547453,542364,5089,2.37,67085,232981,550209,545169,5040,2.34,71025,234872,544055,539231,4824,2.3,75096
25,NaN,송파구,270866,673507,666635,6872,2.46,81364,278711,682741,675961,6780,2.43,87334,281959,673926,667960,5966,2.37,93483
26,NaN,강동구,177247,431920,427573,4347,2.41,58770,183390,440390,436067,4323,2.38,63452,196499,463998,459970,4028,2.34,70019

In [4]:
resident_population.columns

Index(['동별(1)', '동별(2)', '2018', '2018.1', '2018.2', '2018.3', '2018.4',
       '2018.5', '2019', '2019.1', '2019.2', '2019.3', '2019.4', '2019.5',
       '2020', '2020.1', '2020.2', '2020.3', '2020.4', '2020.5'],
      dtype='object')

In [5]:
resident_population.drop(['동별(1)', '2018', '2018.2', '2018.3', '2018.4',
       '2018.5', '2019', '2019.2', '2019.3', '2019.4', '2019.5',
       '2020', '2020.2', '2020.3', '2020.4', '2020.5'], axis=1, inplace=True)
display(resident_population)

    동별(2)    2018.1    2019.1   2020.1
0   동별(2)         계         계        계
1      소계  10049607  10010983  9911088
2     종로구    163026    161869   158996
3      중구    135633    136488   134635
4     용산구    245090    245185   244645
5     성동구    316463    308979   300505
6     광진구    371063    366972   360109
7    동대문구    364338    363023   357014
8     중랑구    408147    402024   399562
9     성북구    447687    454744   447056
10    강북구    322915    317695   311569
11    도봉구    341649    335631   327361
12    노원구    548160    537303   527032
13    은평구    487666    484546   484043
14   서대문구    323080    323171   322952
15    마포구    386359    385925   381858
16    양천구    468145    462285   457781
17    강서구    603611    598273   585901
18    구로구    438486    439371   432488
19    금천구    254021    251820   247835
20   영등포구    403600    400986   407367
21    동작구    409385    408912   401572
22    관악구    520040    517334   509803
23    서초구    438163    435107   429025
24    강남구    547453    550209   544055
25    송파구    673507    682741   673926
26    강동구    431920    440390   463998

In [6]:
resident_population.rename(columns = {'동별(2)':'소재지','2018.1':'2018','2019.1':'2019','2020.1':'2020'},inplace=True)
resident_population

      소재지      2018      2019     2020
0   동별(2)         계         계        계
1      소계  10049607  10010983  9911088
2     종로구    163026    161869   158996
3      중구    135633    136488   134635
4     용산구    245090    245185   244645
5     성동구    316463    308979   300505
6     광진구    371063    366972   360109
7    동대문구    364338    363023   357014
8     중랑구    408147    402024   399562
9     성북구    447687    454744   447056
10    강북구    322915    317695   311569
11    도봉구    341649    335631   327361
12    노원구    548160    537303   527032
13    은평구    487666    484546   484043
14   서대문구    323080    323171   322952
15    마포구    386359    385925   381858
16    양천구    468145    462285   457781
17    강서구    603611    598273   585901
18    구로구    438486    439371   432488
19    금천구    254021    251820   247835
20   영등포구    403600    400986   407367
21    동작구    409385    408912   401572
22    관악구    520040    517334   509803
23    서초구    438163    435107   429025
24    강남구    547453    550209   544055
25    송파구    673507    682741   673926
26    강동구    431920    440390   463998

In [7]:
new_resident_population = resident_population.drop([0, 1], axis = 0)
new_resident_population

     소재지    2018    2019    2020
2    종로구  163026  161869  158996
3     중구  135633  136488  134635
4    용산구  245090  245185  244645
5    성동구  316463  308979  300505
6    광진구  371063  366972  360109
7   동대문구  364338  363023  357014
8    중랑구  408147  402024  399562
9    성북구  447687  454744  447056
10   강북구  322915  317695  311569
11   도봉구  341649  335631  327361
12   노원구  548160  537303  527032
13   은평구  487666  484546  484043
14  서대문구  323080  323171  322952
15   마포구  386359  385925  381858
16   양천구  468145  462285  457781
17   강서구  603611  598273  585901
18   구로구  438486  439371  432488
19   금천구  254021  251820  247835
20  영등포구  403600  400986  407367
21   동작구  409385  408912  401572
22   관악구  520040  517334  509803
23   서초구  438163  435107  429025
24   강남구  547453  550209  544055
25   송파구  673507  682741  673926
26   강동구  431920  440390  463998

In [8]:
new_resident_population = new_resident_population.reset_index()
display(new_resident_population)
new_resident_population.drop('index', axis=1, inplace=True)
new_resident_population

    index   소재지    2018    2019    2020
0       2   종로구  163026  161869  158996
1       3    중구  135633  136488  134635
2       4   용산구  245090  245185  244645
3       5   성동구  316463  308979  300505
4       6   광진구  371063  366972  360109
5       7  동대문구  364338  363023  357014
6       8   중랑구  408147  402024  399562
7       9   성북구  447687  454744  447056
8      10   강북구  322915  317695  311569
9      11   도봉구  341649  335631  327361
10     12   노원구  548160  537303  527032
11     13   은평구  487666  484546  484043
12     14  서대문구  323080  323171  322952
13     15   마포구  386359  385925  381858
14     16   양천구  468145  462285  457781
15     17   강서구  603611  598273  585901
16     18   구로구  438486  439371  432488
17     19   금천구  254021  251820  247835
18     20  영등포구  403600  400986  407367
19     21   동작구  409385  408912  401572
20     22   관악구  520040  517334  509803
21     23   서초구  438163  435107  429025
22     24   강남구  547453  550209  544055
23     25   송파구  673507  682741  673926
24     26   강동구  431920  440390  463998

     소재지    2018    2019    2020
0    종로구  163026  161869  158996
1     중구  135633  136488  134635
2    용산구  245090  245185  244645
3    성동구  316463  308979  300505
4    광진구  371063  366972  360109
5   동대문구  364338  363023  357014
6    중랑구  408147  402024  399562
7    성북구  447687  454744  447056
8    강북구  322915  317695  311569
9    도봉구  341649  335631  327361
10   노원구  548160  537303  527032
11   은평구  487666  484546  484043
12  서대문구  323080  323171  322952
13   마포구  386359  385925  381858
14   양천구  468145  462285  457781
15   강서구  603611  598273  585901
16   구로구  438486  439371  432488
17   금천구  254021  251820  247835
18  영등포구  403600  400986  407367
19   동작구  409385  408912  401572
20   관악구  520040  517334  509803
21   서초구  438163  435107  429025
22   강남구  547453  550209  544055
23   송파구  673507  682741  673926
24   강동구  431920  440390  463998

In [9]:
new_resident_population['구별 거주인구 평균']=new_resident_population[['2018','2019','2020']].mean(axis=1)

In [10]:
new_resident_population

     소재지    2018    2019    2020     구별 거주인구 평균
0    종로구  163026  161869  158996  161297.000000
1     중구  135633  136488  134635  135585.333333
2    용산구  245090  245185  244645  244973.333333
3    성동구  316463  308979  300505  308649.000000
4    광진구  371063  366972  360109  366048.000000
5   동대문구  364338  363023  357014  361458.333333
6    중랑구  408147  402024  399562  403244.333333
7    성북구  447687  454744  447056  449829.000000
8    강북구  322915  317695  311569  317393.000000
9    도봉구  341649  335631  327361  334880.333333
10   노원구  548160  537303  527032  537498.333333
11   은평구  487666  484546  484043  485418.333333
12  서대문구  323080  323171  322952  323067.666667
13   마포구  386359  385925  381858  384714.000000
14   양천구  468145  462285  457781  462737.000000
15   강서구  603611  598273  585901  595928.333333
16   구로구  438486  439371  432488  436781.666667
17   금천구  254021  251820  247835  251225.333333
18  영등포구  403600  400986  407367  403984.333333
19   동작구  409385  408912  401572  406623.000000
20   관악구  520040  517334  509803  515725.666667
21   서초구  438163  435107  429025  434098.333333
22   강남구  547453  550209  544055  547239.000000
23   송파구  673507  682741  673926  676724.666667
24   강동구  431920  440390  463998  445436.000000

In [11]:
# 저장 후 주석처리
# new_resident_population.to_csv("C:/sooeun/DATAexam/전공프로젝트(빅데이터)/data/서울특별시(구별)_18_19_20주민등록인구.csv", index=False, encoding='utf-8-sig')